.footer {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
}
.footer .nav_link {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  text-decoration: none;
}
.view {
  flex: 1;
}
